body {
    background-image: url(multbackground.jpg);
    font-family: Verdana;
}
.header {
    text-align: center;
    font-size: 200px;
    color: white;
    font-weight: bold;
}
.description {
    background-color: #FF7E47;
    border-radius: 20px;
    border: 2px solid white;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 15px;
}
.descriptionhead {
    text-align: center;
    color: white;
    font-size: 50px;
}
.descriptiontext {
    text-align: center;
    font-size: 20px;
    color: white;
    margin-left: 80px;
    margin-right: 80px;
}
.setup {
    background-color: #FF7E47;
    border-radius: 20px;
    border: 2px solid white;
    margin-right: 150px;
    margin-left: 150px;
}
.setuphead {
    text-align: center;
    color: white;
    font-size: 50px;
}
.setuptext {
    text-align: center;
    font-size: 20px;
    color: white;
    margin-left: 80px;
    margin-right: 80px;
}
.footer {
    color: white;
    font-size: 10px;
    text-align: center;
}
.colelink:hover {
    color: #FF7E47;
}
.jajalink:hover {
    color: #FF7E47;
}
a {
    color: white;
}
