doctype
html
  link(href="main.css" rel="stylesheet")
  head
    title Original Bird
  body
    div(id='game')
      p Tap or Press the Spacebar!
      script(src="phaser.js")
      script(src="game.js")
