body{
  background-image: url('galaxy-wallpapers-11.jpg');
  text-align: center;
  font-family: 'Open Sans';
}

h1 {
  color: white;
  font-weight: bold;
}

div.hidden {
  display: none;
  position: fixed;
  height: 200px;
  width: 400px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

#blah {
  position: fixed;
  height: 200px;
  width: 400px;
  top: 60%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}
