body{
  background-image: url('galaxy-wallpapers-11.jpg');
  text-align: center;
  font-family: 'Open Sans';
}

p{
  color: red;
}

h1{
  color: white;
  font-weight: 
}
h2{
  color: red;
  font-size: 45px;
}

#div1{
  background-color: red;
  text-align: center;  
}

#div2{
  background-color: #FF4136;
  text-align: center;
}

#div3{
  background-color: red;
  text-align: center;
}

